# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

.env

# dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
eas.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

config
certs

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

services/firebaseCreds.json
http/server.json

# android/ios
android/*

# google services
google-services.json
google-services-*.json
GoogleService-Info.plist

cookie-147c5-4e4811d8904f.json